.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.grid {
  margin: auto;
  margin-top: 50px;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  border: 1px black solid;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.action {
  animation: Square-Change 1 0.6s linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

circle {
  z-index: 10000;
}

@keyframes Square-Change {
  0% {
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(40deg);
  }
  85% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(45deg);
    fill: #993456;
  }
}

.completed {
  animation: Completed 1 0.6s ease;
  animation-fill-mode: forwards;
  transform-origin: center;
}

/*text {
  animation: Square-Change 1 0.6s linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}*/

@keyframes Text-appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
