html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grid {
  margin: auto;
  margin-top: 50px;
}

.buttons {
  margin-top: 20px;
}

/*button {
  margin: 5px;
  padding: 10px;
  border: 1px black solid;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10%;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.action {
  animation: Square-Change 1 0.6s linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

circle {
  z-index: 10000;
}

@keyframes Square-Change {
  0% {
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(40deg);
  }
  85% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(45deg);
    fill: #993456;
  }
}

.completed {
  animation: Square-Change-Completed 1.2s linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

text {
  animation: Text-appear 1 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes Square-Change-Completed {
  0% {
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(40deg);
  }
  85% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(45deg);
    fill: #d4af37;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

button {
  border-radius: 100%;
  border: 1px #cccccc solid;
  font-size: 32px;
  width: 80px;
  height: 80px;
  color: #888888;
  margin: 5px;
  background-color: white;
}

button.large {
  width: 100px;
  height: 100px;
}

.levels {
  border: 1px solid black;
  width: 90%;
  height: 95%;
  margin-left: 20px;
  top: 20px;
  position: absolute;
  border-radius: 10px;
  background: white;
  overflow: scroll;
  display: none;
}

.level {
  margin: 15px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.show {
  display: block;
}
.completed {
}
.next {
  background-color: #998877;
}
.future {
}
