html,
body {
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid {
  margin: auto;
  margin-top: 50px;
}

.buttons {
  margin-top: 20px;
}

/*button {
  margin: 5px;
  padding: 10px;
  border: 1px black solid;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10%;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.action {
  animation: Square-Change 1 0.6s linear;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
}

circle {
  z-index: 10000;
}

@keyframes Square-Change {
  0% {
  }
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(40deg);
  }
  85% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(45deg);
    /*fill: #993456;*/
    fill: #aaaaaa;
  }
}

.completed {
  animation: Square-Change-Completed 1.2s linear;
  animation-fill-mode: forwards;
}

.level-completed {
  animation: Square-Change-Completed 1.2s linear;
  animation-fill-mode: forwards;
}

text {
  animation: Text-appear 1 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes Square-Change-Completed {
  50% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(40deg);
  }
  85% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(45deg);
    fill: #d4af37;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  margin: 15px;
  /*border: 1px solid #999;*/
  /*border-radius: 20px;*/
}

.button {
  border-radius: 100%;
  border: 1px #cccccc solid;
  font-size: 32px;
  width: 80px;
  height: 80px;
  color: #888888;
  margin: 15px;
  background-color: white;
}

.levels {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /*width: 40%;*/
  border-right: 1px solid #999;
  background: rgba(50, 50, 50, 0.4);
  display: none;
  flex-direction: column;
  width: 160px;
}

.level {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  min-width: 18px;
  margin: 5px;
  color: white;
  border-radius: 50%;
  /*margin: 15px;*/
  /*padding: 10px;*/
  /*border-bottom: 1px solid black;*/
}

.zone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.show {
  display: flex;
}
.completed {
}
.next {
  background-color: #998877;
}
.future {
}

.feedback {
  padding: 10px;
  margin: 15px;
  max-width: 150px;
  color: #888;
  border: 1px solid #888;
  border-radius: 25px;
}

.moves {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #888;
  border-radius: 100%;
  text-align: center;
  padding-top: 5px;
}

.next-level-button {
  color: white;
  border: 2px solid white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 24px;
  background-color: rgba(50, 50, 50, 0.4);
  /*height: 10px;*/
}
